/* src/App.css */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

.ant-layout {
  min-height: 100vh;
}

.ant-layout-header {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.card-cover:hover {
  transform: scale(1.01);
}

.card-cover-image {
  width: 50%;
  height: 50%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.card-cover-image:hover {
  transform: scale(1.1);
}
